<% if @fax %>
  $("#number_of_pages").text("Número de páginas: <%= @pages %>");
  var value = <%= @invoice.amount %>;
  $("#value").text("R$ " + value + "0");
  $("#pdf_image").html("<a href='<%= @fax.fax.url %>' target='_blank'><img src='<%= @fax.fax.thumb.url %>' /></a>");
  $(".main_panel").css("height", "500px");
  $(".show_fax_uploaded").show();
  $("[name='fax_id']").val("<%= @fax.id %>");
  $(".number").hide();
  $(".status").hide();

  set_pagseguro_id('<%= @pagseguro_id %>');
<% else %>
  $(".status").hide();
  $(".input_form").removeAttr("disabled");
  $(".instructions").show();
  $(".alert-danger").html("Extensão de arquivo não suportada. Envie um arquivo de imagem ou um PDF.");
  $(".alert-danger").show();
  $(".main_panel").css("height", "420px");
  $(".bubble").css("top", "180px");
<% end %>
