$("#number_of_pages").text("Número de páginas: <%= @pages %>");
var value = <%= @pages * 2 %>;
//$("#value").text("R$ " + value + ",00");
$("#value").text("R$ 0,00 - É gratis!! =)");
$("#pdf_image").html("<a href='<%= @fax.fax.url %>' target='_blank'><img src='<%= @fax.fax.thumb.url %>' /></a>");
$(".main_panel").css("height", "500px");
$(".show_fax_uploaded").show();
$("#send_fax").attr("fax_id", "<%= @fax.id %>");
