<div class="content">
  <div class="main_panel">
    <div class="form_panel">
      <div class="top">
        <p>
          Envie seu fax pela internet em apenas alguns instantes
        </p>
      </div>
      <div class="number">
        <div class="alert alert-danger"></div>

        <p>
          Número do Destinatário
        </p>

        <div class="bubble bubble_country_code">
          <p><%= image_tag "brazil.png", :class => "flag" %><label>Brasil (+55)</label></p>
          <p><%= image_tag "united_states.png", :class => "flag" %><label>Estados Unidos (+1)</label></p>
          <p><%= image_tag "argentina.png", :class => "flag" %><label>Argentina (+54)</label></p>
          <p><%= image_tag "united_kingdom.png", :class => "flag" %><label>Reino Unido (+44)</label></p>
          <p><%= image_tag "canada.png", :class => "flag" %><label>Canada (+1)</label></p>
          <p><%= image_tag "germany.png", :class => "flag" %><label>Alemanha (+49)</label></p>
        </div>


        <%= form_tag({controller: "home", action: "create"}, class: "form_fax", method: "post", multipart: true, remote: true) do %>
          <input type="text" name="code" id="country_code" class="form-control input-lg input_form" value="+55" maxlength="3" />
          <input type="text" name="ddd" id="ddd" class="form-control input-lg input_form" placeholder="DDD" maxlength="3" />
          <input type="text" name="number" id="number" class="form-control input-lg input_form" placeholder="Número" maxlength="9" />
          <a href="#" id="button_send" class="btn btn-primary btn-lg input_form">Enviar Fax</a>
          <input type="file" id="upload" name="upload" style="position: absolute; top: -100px; width: 1px; height: 1px" />
        <% end %>

        <div class="bubble bubble_ddd">Este é o código do estado. Por ex: São Paulo (11)</div>
        <div class="price">
          Apenas R$ 2,00 / página
        </div>
        <div id="loader" class="status">
          <%= image_tag "ajax-loader.gif" %>
        </div>
        <div id="status" class="status">
          <label>Realizando upload. Aguarde...</label>
        </div>
        <div id="notice">
        </div>
      </div>
      <div class="show_fax_uploaded">
        <p id="send_value">
          Preço: <label id="value"></label>
        </p>
        <p id="number_of_pages">
        </p>
        <p>
          <form id="form_payment" action="/payment" method="GET">
            <input type="hidden" name="fax_id" value="" />
            <a href="#" id="payment" fax_id="" class="btn btn-primary btn-lg">Efetuar Pagamento</a>
          </form>
          ou&nbsp;&nbsp;<a id="cancel" href="/">Cancelar</a>
        </p>
        <p id="pdf_image"></p>
        <p id="charge_instructions">
          Clique na imagem para visualizar seu arquivo. Você somente será
          cobrado se o fax for enviado com sucesso.
        </p>
        <p id="fax_response"></p>
      </div>
      <div class="instructions">
        <p>
          Você será cobrado apenas pelos envios completados. Os envios de fax
          que não forem recebidos com sucesso, não serão cobrados.
        </p>
      </div>
    </div>
  </div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-36204274-4', 'superfax.com.br');
  ga('send', 'pageview');

</script>
