<%
  meta :title => "SuperFax - Envie seu fax pela internet",
       :description => "Envie / Mande seu fax pela internet para vários países em apenas alguns minutos. Basta alguns cliques para enviar seu fax online.",
       :keywords => %w(fax internet enviar mandar online superfax web receber como)
%>



<div class="content">
  <div class="main_panel">
    <div class="form_panel">
      <div class="top">
        <h2>
          Envie seu fax pela internet em apenas alguns instantes
        </h2>
      </div>
      <div class="number">
        <div class="alert alert-danger"></div>

        <p>
          Número do Destinatário
        </p>

        <div class="bubble bubble_country_code">
          <p><%= image_tag "brazil.png", :class => "flag" %><label id="+55">Brasil (+55)</label></p>
          <p><%= image_tag "united_states.png", :class => "flag" %><label id="+1">Estados Unidos (+1)</label></p>
          <p><%= image_tag "argentina.png", :class => "flag" %><label id="+54">Argentina (+54)</label></p>
          <p><%= image_tag "portugal.png", :class => "flag" %><label id="+351">Portugal (+351)</label></p>
          <p><%= image_tag "united_kingdom.png", :class => "flag" %><label id="+44">Reino Unido (+44)</label></p>
          <p><%= image_tag "canada.png", :class => "flag" %><label id="+1">Canada (+1)</label></p>
          <p><%= image_tag "germany.png", :class => "flag" %><label id="+49">Alemanha (+49)</label></p>
          <p><%= image_tag "australia.png", :class => "flag" %><label id="+61">Austrália (+61)</label></p>
          <p><%= image_tag "france.png", :class => "flag" %><label id="+33">França (+33)</label></p>
          <p><%= image_tag "india.png", :class => "flag" %><label id="+91">Índia (+91)</label></p>
          <p><%= image_tag "israel.png", :class => "flag" %><label id="+972">Israel (+972)</label></p>
          <p><%= image_tag "japan.png", :class => "flag" %><label id="+81">Japão (+81)</label></p>
          <p><%= image_tag "puerto_rico.png", :class => "flag" %><label id="+1">Porto Rico (+1)</label></p>
          <p><%= image_tag "hong_kong.png", :class => "flag" %><label id="+852">Hong Kong (+852)</label></p>
        </div>


        <%= form_tag({controller: "home", action: "create"}, class: "form_fax", method: "post", multipart: true, remote: true) do %>
          <input type="text" name="code" id="country_code" class="form-control input-lg input_form" value="+55" maxlength="3" />
          <input type="text" name="ddd" id="ddd" class="form-control input-lg input_form" placeholder="DDD" maxlength="3" />
          <input type="text" name="number" id="number" class="form-control input-lg input_form" placeholder="Número" maxlength="9" />
          <a href="#" id="button_send" class="btn btn-primary btn-lg input_form">Enviar Fax</a>
          <input type="file" id="upload" name="upload" style="position: absolute; top: 1px; width: 1px; height: 1px; opacity: 0.1;" />
        <% end %>

        <div class="bubble bubble_ddd">Este é o código do estado. Por ex: São Paulo (11)</div>
        <div class="price">
          Apenas R$ 0,40 + R$ 2,00 / página
        </div>
        <div id="loader" class="status">
          <%= image_tag "ajax-loader.gif" %>
        </div>
        <div id="status" class="status">
          <label>Realizando upload. Aguarde...</label>
        </div>
        <div id="notice">
        </div>
      </div>
      <div class="show_fax_uploaded">
        <p id="send_value">
          Preço: <label id="value"></label>
        </p>
        <p id="number_of_pages">
        </p>
        <p>
          <form id="form_payment" action="/payment" method="GET">
            <input type="hidden" name="fax_id" value="" />
            <a href="#" id="payment" fax_id="" class="btn btn-primary btn-lg">Efetuar Pagamento</a>
          </form>
          ou&nbsp;&nbsp;<a id="cancel" href="/">Cancelar</a>
        </p>
        <p id="pdf_image"></p>
        <p id="charge_instructions">
          Clique na imagem para visualizar seu arquivo. Você somente será
          cobrado se o fax for enviado com sucesso.
        </p>
        <p id="fax_response"></p>
      </div>
      <div class="instructions">
        <p>
          Você será cobrado apenas pelos envios completados. Os envios de fax
          que não forem recebidos com sucesso, não serão cobrados.<br />
          Os arquivos permitidos são imagens (jpg, png, jpeg, bmp) e PDF.
        </p>
      </div>
    </div>
  </div>
</div>
