<div class="content">
  <div class="main_panel">
    <div class="form_panel">
      <div class="top">
        <p>
          Envie seu fax pela internet em apenas alguns instantes
        </p>
      </div>
      <div class="number">
        <p>
          Número do Destinatário
        </p>
        <div class="bubble bubble_country_code">
          <p><%= image_tag "brazil.png", :class => "flag" %><label>Brasil (+55)</label></p>
          <p><%= image_tag "united_states.png", :class => "flag" %><label>Estados Unidos (+1)</label></p>
          <p><%= image_tag "argentina.png", :class => "flag" %><label>Argentina (+54)</label></p>
          <p><%= image_tag "united_kingdom.png", :class => "flag" %><label>Reino Unido (+44)</label></p>
          <p><%= image_tag "canada.png", :class => "flag" %><label>Canada (+1)</label></p>
          <p><%= image_tag "germany.png", :class => "flag" %><label>Alemanha (+49)</label></p>
        </div>


        <%= form_tag({controller: "home", action: "create"}, class: "form_fax", method: "post", multipart: true, remote: true) do %>
          <input type="text" name="code" id="country_code" class="form-control input-lg input_form" value="+55" maxlength="3" />
          <input type="text" name="ddd" id="ddd" class="form-control input-lg input_form" placeholder="DDD" maxlength="3" />
          <input type="text" name="number" id="number" class="form-control input-lg input_form" placeholder="Número" maxlength="9" />
          <a href="#" id="button_send" class="btn btn-primary btn-lg input_form">Enviar Fax</a>
          <input type="file" id="upload" name="upload" style="position: absolute; top: -100px; width: 1px; height: 1px" />
        <% end %>

        <div class="bubble bubble_ddd">Este é o código do estado. Por ex: São Paulo (11)</div>
        <div class="price">
          Apenas R$ 2,00 / página
        </div>
        <div id="loader" class="status">
          <%= image_tag "ajax-loader.gif" %>
        </div>
        <div id="status" class="status">
          <label>Realizando upload. Aguarde...</label>
        </div>
        <div id="notice">
        </div>
      </div>
      <div class="show_fax_uploaded">
        <p id="send_value">
        </p>
        <p id="number_of_pages">
        </p>
      </div>
      <div class="instructions">
        <p>
          Você será cobrado apenas pelos envios completados. Os envios de fax que não forem recebidos com sucesso, não serão cobrados.
        </p>
      </div>
    </div>
  </div>
</div>
