<!DOCTYPE html>
<html>
<head>
  <%= metamagic %>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oranienbaum' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="contact">
    <a href="mailto:contato@resultar.net" class="btn btn-warning">Contato</a>
  </div>

  <div class="logo">
    <h1 class="super">Super</h1><h2 class="fax">Fax</h2>
    <label>Beta</label>
  </div>

<%= yield %>

  <div class="rodape">
    <div class="copyright">SuperFax 2014</div>

    <div class="payment_methods">
      ?
    </div>
  </div>
</body>
</html>
